/* .terms-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.terms-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.terms-container ol {
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
} */